# Настройка места хранения docker-compose
COMPOSE_FILE=infra/docker-compose.yml

# Настройка Uvicorn
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8000

# Параметры подключения к БД
DB_USER=
DB_PASSWORD=
DB_NAME=erp_system_db
TEST_DB_NAME=test_erp_system_db
DB_HOST=db
DB_PORT=5432

# Настройки Redis
REDIS_HOST=redis
REDIS_PORT=6379
CACHE_TTL=3600
# Ключ в Redis, хранящий ситемный ключ вебхука
KEY_OF_SYSTEM_TOKEN=config:bot_system_secret

# Настройки инвайт-кода для вступления в команду
CODE_LENGTH=6

# Настройки JWT
SECRET_KEY=
ALGORYTHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Настрйоки Sentry
ENABLED=False
DSN=    # обязательно, если ENABLED=True